.center-div
{
  margin: 0 auto;
  width:45%;
  height:550px;
  margin-top: 50px;
  margin-left:50px;
  float:left;
}
.center-div2
{
  margin: 0 auto;
  width:45%;
  height:550px;
  margin-top: 50px;
  margin-right:50px;
  float:right;
}

body{
  background-color: #00d4ff;
}
img{
  width:100%;
  height:550px;
}
h2{
  color:#fff;
}
button{
  background-color: #fff;
}
